title{
background-color: blue;
     color: white;
     padding: 1rem;
     text-align: center;
}
#id_gender, #id_job_city{
    list-style-type: none;
    display: inline-flex;
   }
   
   #id_gender > li {
    padding-left: 10px;
   }
   
   #id_job_city > li {
    padding-left: 20px;
   }
